* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#library {
  margin: 0 auto;
  width: 80%;
  border: 1px grey solid;
  margin-bottom: 20px;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.2rem 1rem;
}

.book:nth-child(odd) {
  background-color: rgb(207, 207, 207);
}

.bookDetail {
  display: flex;
  gap: 10%;
}

.remove {
  margin-left: auto;
  padding: 10px;
  background-color: red;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.remove:hover {
  background-color: #fff;
  color: red;
  border: 1px solid gray;
}

.bottom-border {
  width: 300px;
  border-top: 4px solid black;
  border-radius: 10px;
  margin: 30px auto 30px auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  padding: 2%;
}

h1 {
  margin: 0 auto 20px auto;
}

input[type="text"] {
  /* width: 50%; */
  padding: 8px;
}

#addBtn {
  width: 30%;
  padding: 5px;
  color: #fff;
  background: rgb(15, 221, 15);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid gray;
}

#addBtn:hover {
  color: rgb(15, 221, 15);
  background: #fff;
  border: 1px solid gray;
}
